.playerFixedContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100%;

	background: rgba(0, 0, 0, 0.295);

	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;

    overflow: hidden;

	.playerContainer {
        padding: 10px;
        background: white;

        max-width: 75vw;
        // width: 100%;
	}
}


.disabled {
    display: none;
}