@font-face {
	font-family: 'Arial';
	src: url('/fonts/Arial') format('ttf');
	font-weight: 400;
	font-style: normal;
}

.wrap {
  font-family: 'Arial', sans-serif;
  margin: 35px 0;
}

.desc {
  h3 {
    font-size: 28px;
  }
}

.headline {
  h3 {
    font-size: 78px;
    font-weight: 700;
  }
}